/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff; }
  .preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px); }

/*******************
/*Top bar
*******************/
.topbar {
  background: #272c33; }
  .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8); }
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color:  #FFF !important; }
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
      color: #FFF !important; }
  .topbar .navbar-header {
    background: #272c33; }

.logo-center .topbar .navbar-header {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
  display: none; }

.logo-center .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8); }

/*******************
/*General Elements
*******************/
a {
  color: #00897b; }

a.link:hover, a.link:focus {
  color: #00897b !important; }

.bg-theme {
  background-color: #00897b !important; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #00897b;
  border-color: #00897b; }

.right-sidebar .rpanel-title {
  background: #00897b; }

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #00897b; }

.text-themecolor {
  color: #FFF !important; }

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #00897b;
  color: #00897b; }

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #00897b; }

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #00897b;
  color: #ffffff;
  border: 1px solid #00897b; }
  .btn-themecolor:hover,
  .btn-themecolor.disabled:hover {
    background: #00897b;
    opacity: 0.7;
    border: 1px solid #00897b; }
  .btn-themecolor.active, .btn-themecolor:focus,
  .btn-themecolor.disabled.active,
  .btn-themecolor.disabled:focus {
    background: #028ee1; }

/*******************
/*sidebar navigation
*******************/
.card-no-border .left-sidebar, .card-no-border .sidebar-nav {
  /*background: #272c33;*/
  background-image: url('../../assets/images/sidebar-1.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 105%;
z-index: 10;
   }

.mini-sidebar .sidebar-nav {
  background: transparent; }

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
    background: #181c22; } }

.sidebar-nav {
  background: #272c33; }

.user-profile .profile-text a {
  color: #798699 !important; }

.card-no-border .sidebar-footer {
  background: #181c22; }

.label-themecolor {
  background: #00897b; }

.sidebar-nav > ul > li.active > a {
  color: #00897b;
  border-color: #000; }
  .sidebar-nav > ul > li.active > a i {
    color: #00897b; }

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #000; }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #00897b; }

.sidebar-nav ul li.nav-small-cap {
  color: #798699; }
